

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 align="center"><mat-card>Employee Management System</mat-card></h1>
<!-- <div><app-employees></app-employees></div> -->

<div align="center"><app-employee-details></app-employee-details></div>
<mat-divider [inset]="true"></mat-divider>
<div class="container" >
    <router-outlet></router-outlet>
  </div>
  <mat-divider ></mat-divider>
  <mat-paginator [length]="6"
              [pageSize]="10"
              [pageSizeOptions]="[2,3,4,5,6]">
</mat-paginator>
<div align="center" class="container"><app-message></app-message></div><br>
<!-- <app-my-counter></app-my-counter> -->
<footer align="center">{{date}}</footer>

